/* Universal CSS Start*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
}

/* Universal CSS End*/


/* New Year Banner Section Start */

#new_year_banner {
    background-image: linear-gradient(180deg, #070211 0%, rgba(92, 33, 212, 0) 100%), url('../images/BannerImage.png');
    background-repeat: no-repeat;
    width: 84%;
    height: 600px;
    margin: 50px auto;
    background-size: 100% 100%;
    border-radius: 16px;
}

.new_year_title-1 {
    color: #ffff;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    padding-top: 180px;

}

.new_year_title-2 {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    margin-top: 20px;

}

/* New Year Banner Section End */


/* <!-- discount_banner Start --> */

#discount_banner h1,
h6,
h2 {
    text-align: center;
    font-family: 'Inter', sans-serif;
}


.discount_title-1 {
    color: #F00;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.discount_title-2 {
    color: #F00;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin-top: 48px;
}

.discount_title-3 {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin-top: 10px;
}


.discount_image {
    margin-top: 30px;
    text-align: center;
}

/* <!-- discount_banner End --> */



/* <!-- welcome_banner start --> */

#welcome_banner {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/welcome.png');
    background-repeat: no-repeat;
    width: 84%;
    height: 600px;
    margin: 50px auto;
    background-size: 100% 100%;
    border-radius: 16px;
}

.welcome_content {
    padding: 126px 126px;
}

.welcome_title-1 {
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.welcome_description {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;
    padding-right: 190px;
}

.join_now {
    color: #FFF;
    font-family: 'Inter', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 40px;
    text-transform: uppercase;
    padding-left: 30px;
}

/* <!-- welcome_banner end --> */


/* Location Banner Start */

#location_banner {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 84%;
    height: 400px;
    margin: 50px auto;
    border-radius: 16px;
}

.location_content {
    color: #070211;
    text-align: center;
    font-family: 'Inter', serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    padding: 100px;
}

.orange {
    color: #F00;
}

.join_btn{
border-radius: 8px;
background: #F00;
color: #FFF;
padding: 15px 25px;
font-family: 'Inter',serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin-top: 40px;
border: none;
}


/* Location Banner End */


/* .best_offer_section start */



#best_offer_section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 100px auto;
    width: 84%;
    gap: 27px;
}


.best_offer_section-1{
  margin-top: 90px;
}

.best_offer_title-1{
color: #F00;
font-family:'Inter',serif;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.best_offer_title-2{
color: #070211;
font-family: 'Merriweather',serif;
font-size: 40px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
margin-top: 10px;
margin-bottom: 10px;
}

.best_offer_description{
color: rgba(7, 2, 17, 0.60);
font-family: 'Inter',serif;
font-style: normal;
font-weight: 400;
line-height: 32px;
margin-top: 20px;
}

.offer_section_image{
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 30px;
    object-fit: cover;
}

.best_offer_title-3{
color: #F00;
font-family: 'Inter' , serif;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.best_offer_section-2{
    margin-top: 90px;
    margin-left: 30px;
}

.best_offer_description-1{
color: rgba(7, 2, 17, 0.60);
font-family: 'Inter',serif;
font-style: normal;
font-weight: 400;
line-height: 32px;
margin-bottom: 20px;
margin-top: 16px;
}

/* .best_offer_section end */


/* <!-- holiday_sale_section start --> */

#holiday_sale_section{
    width: 84%;
    margin: 50px auto;
}

.holiday_sale_section-1{
    text-align: center;
}

.holiday_sale_title-1{
color: #070211;
font-family: 'Inter' , serif;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.holiday_sale_title-2{
color: #070211;
font-family: 'Merriweather', serif;
font-size: 60px;
font-style: normal;
font-weight: 900;
line-height: normal;
}

.holiday_sale_description{
color: rgba(7, 2, 17, 0.60);
font-family: 'Inter' , serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 32px;
width: 90%;
margin: 20px auto;
}

.holiday_sale_image_before{
    position: relative;
}

.holiday_sale_image{
float: right;
}

.holiday_sale_image_before::before{
    background-image: url('../images/Group44.png');
    position: absolute;
    content: '';
    right: 318px;
    top: 95px;
    height: 265px;
    width: 265px;
}

.holiday_sale_image-1{
    width: 100%;
}

.holiday_sale_image_before-1{
    position: relative;
}

.holiday_sale_image_before-1::before {
    background-image: url(../images/Group75.png);
    position: absolute;
    content: '';
    right: 533px;
    top: 134px;
    height: 460px;
    width: 569px;
    background-size: 100% 100%;
}

/* <!-- holiday_sale_section end --> */

/* .portfolio_section start */

#portfolio_section{
    margin: 100px auto;
    width: 84%;  
}


.portfolio_title-1{
    color: #F00;
    font-family:'Inter',serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.portfolio_title-2{
color: #070211;
font-family: 'Merriweather',serif;
font-size: 40px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
margin-top: 10px;
margin-bottom: 10px;
}

.portfolio_description{
color: rgba(7, 2, 17, 0.60);
font-family: 'Inter',serif;
font-style: normal;
font-weight: 400;
line-height: 32px;
margin-top: 20px;
width: 74%;
}

.portfolio_section-2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 27px;
    margin-top: 50px;
}

.portfolio_section-2 img{
    width: 354px;
    height: 360px;
}

/* .portfolio_section end */


/* <!-- subscribe_section start--> */

#subscribe_section{
border-radius: 16px;
margin: 100px auto;
width: 84%;
background: rgba(255, 0, 0, 0.05);
}

.subscribe_section-1{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.subscribe_title{
color: #070211;
font-family: 'Merriweather' , serif;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
margin-top: 20px;
}

.subscribe_description{
color: rgba(7, 2, 17, 0.60);
font-family: 'Inter',serif;
font-style: normal;
font-weight: 400;
line-height: 32px;
width: 72%;
margin: 20px auto;
}

input[type="email"]{
width: 350px;
height: 36px;
border-radius: 50px;
background: #FFF;
padding: 5px;
border: none;

}

.input_subscribe{
    display: inline;
    margin-inline-start: -21px;
}

input[type="submit"]{
border-radius: 0px 50px 50px 0px;
background: #F00;
width: 136px;
height: 45px;
color: #FFF;
border: none;
font-family: 'Inter', serif;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
}

/* <!-- subscribe_section End--> */



.flex{
    display: flex;
    column-gap: 9px;
}

footer{
    background: #070211;
}

#footer_section{
    margin: 100px 0px auto;
    width: 84%;  
    padding: 86px;
}

.footer_section-1{
    display: flex;
    justify-content: space-between;
}

.footer_text{
color: #FFF;
font-family: 'Inter' , serif;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 40px;
}

.flex img{
    width: 20px;
    height: 20px;
    margin-top: 11px;
}

.hr_line{
    height:1px;
    border-width:0;
    color:rgba(255, 255, 255, 0.15);
    background-color: rgba(255, 255, 255, 0.15);
    margin-top: 25px;
    margin-bottom: 25px;
}

.footer_section-2 .flex{
justify-content: center;
}

.footer_section-2 .flex img{
    height: 50px;
    width: 50px;
}


.footer_section-3{
    display: flex;
    justify-content: space-between;
}